<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>APP | Définir mot de passe</title>

    <link rel='stylesheet' href='/css/main.css' />

    <script src='https://cdn.tailwindcss.com'></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js'
      integrity='sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
    <script src='/js/define-password.js' defer></script>
  </head>
  <body>
    <h1 class='font-semibold text-lg md:text-2xl text-center mt-40 mb-8'>
      Veuillez définir un mot de passe
    </h1>

    <form
      id='__dp_form'
      class='bg-white p-4 rounded w-[300px] md:w-[500px] mx-auto flex flex-col gap-6'
    >
      <div class='flex flex-col gap-2'>
        <label for='password'>Mot de passe</label>
        <input
          class='px-3 py-2 rounded border'
          type='password'
          name='password'
          id='__dp_password'
        />
      </div>

      <div class='flex flex-col gap-2'>
        <label for='password'>Confirmer le mot de passe</label>
        <input
          class='px-3 py-2 rounded border'
          type='password'
          name='c_password'
          id='__dp_c_password'
        />
        <div id='__dp_error' class='text-red-500 text-xs'></div>
      </div>

      <button
        class='px-3 py-2 rounded bg-green-700 hover:bg-green-800 disabled:opacity-75 text-white w-full'
        id='__dp_submit'
        type='submit'
      >Enregistrer</button>
    </form>
  </body>
</html>
